h2.explanation_headline {
	margin: 3px 0px 9px;
	padding: 6px 0 8px 36px;
	color: #8AB858;
	font-size: 14px;
	background: url(../../../../system/themes/default/images/current.gif) no-repeat left center;
}
