  .item {
    overflow:hidden;
    padding:10px 0;
  }

  .item .field {
    margin-bottom:5px;
  }

  .item .asin {
    float:left;
    margin-right:20px;
    margin-bottom:0;
  }
  
  .item .title {
    font-size:12px;
    font-weight:bold;
    margin-bottom:10px;
  }